extends base.pug

block content 
    p #{errMsg || " "}
    form(method="POST")
        input(placeholder="Old Password" type="password" name="oldSecret")
        input(placeholder="New Password" type="password" name="newSecret")
        input(placeholder="New Password Confirm" type="password" name="newSecretConfirm")
        input(type="submit" value="change")