extends base.pug
include mixins/video
//- 불러온 모오습

block header 
    nav 
        ul
            li
                div
                if user.login
                    div
                        a(href="/logout") Logout 
                else
                    div
                        a(href="/login") Login
    if user.login 
        small Heloo #{user.userName}

block content
    h1 Welcome to Main Page!
    each info in videos
        +video(info)
    else
        li not Video!
    input(placeholder="test")
    button send
