extends base.pug
include mixins/video
//- 불러온 모오습


block content
    h1 Welcome to Main Page!
    each info in videos
        +video(info)
    else
        li not Video!
    input(placeholder="test")
    button send
